<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">

<head>
    <title>Demo of Flowers</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
    <h1>Demo of Flowers</h1>
    <div id="canvas"></div>
    <script type="text/javascript" src="{{prefix}}/css-colors.js"></script>
    <script type="text/javascript" src="{{prefix}}/flower.js"></script>
    <script type="text/javascript" src="{{prefix}}/draw.js"></script>
    <style type="text/css">
        div#canvas {
            background-color: cadetblue;
            width: 800px;
            height: 800px;
        }
        
        svg {
            width: 98%;
            height: 98%;
            margin: 1%;
            background-color: gray;
        }
    </style>
</body>

</html>