<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" /> {% load static %}
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/toolbox.js"></script>
</head>

<body>
    <!-- Div of welcome slogan -->
    <div>
        <h1>Welcome to my workshop</h1>
        <p>You are visiting at: {{currentTime}}</p>
    </div>

    <!-- Div of Route table -->
    <div>
        <h2 onclick="toggleVisibilityNext(this)">[-] Route table</h2>
        <div>
            <p>It refers the following routes are supported</p>
            <iframe class="fullWidth-column" src="route"></iframe>
        </div>
    </div>

    <!-- Div of Gallery -->
    <div>
        <h2>Gallery</h2>
        <div class="flex-display">
            <!-- 1 -->
            <div class="narrow-column">
                <h3 onclick="refreshFlowsPlot()">Flowers Plot</h3>
            </div>

            <!-- 2 -->
            <div class="narrow-column">
                <h3 onclick="refreshChoroplethMaps()">Choropleth Maps</h3>
            </div>
        </div>
    </div>

    <!-- Div of window -->
    <div>
        <h2>Window</h2>
        <div class="large-height">
            <iframe id="iframe-1" class="fullWidth-column large-height" src="flowersPlot"></iframe>
        </div>
    </div>

    <script type="text/javascript">
        function refreshFlowsPlot() {
            document.getElementById("iframe-1").src = "flowersPlot";
        }

        function refreshChoroplethMaps() {
            document.getElementById("iframe-1").src = "choroplethMaps";
        }
    </script>
</body>

</html>